.signup-content {
  width: 80%;
  margin-left: 10%;
  background-color: #444;
};

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
  padding: 10%;
  color: #fff;
}
